<div>
    {{#if displayValue.short}}
        {{#if collapsed}}
            {{#if _settings.reverse_lines}}
                <button data-action="toggle" class="btn btn-link btn-invisible toggle-text">
                    {{str 'LBL_WORKLOG_PREVIOUS'}}
                </button>
                <br>
                &hellip;
                <br>
            {{/if}}
            {{{displayValue.short}}}
            {{#eq _settings.reverse_lines false}}
                <br>&hellip;
            {{/eq}}
        {{else}}
            {{{displayValue.long}}}
            {{#if _settings.reverse_lines}}
                <br>
                <button data-action="toggle" class="btn btn-link btn-invisible toggle-text">
                    {{str 'LBL_WORKLOG_LESS'}}
                </button>
            {{/if}}
        {{/if}}
        {{#eq _settings.reverse_lines false}}
        <br>
         <button data-action="toggle" class="btn btn-link btn-invisible toggle-text">
            {{#if collapsed}}
                {{str 'LBL_WORKLOG_PREVIOUS'}}
            {{else}}
                {{str 'LBL_WORKLOG_LESS'}}
            {{/if}}
        </button>
        {{/eq}}
    {{else}}
        {{{displayValue.long}}}
    {{/if}}
</div>
<script>
$('.worklog-popovers').popover()